In [2]:
import pandas as pd
import os
import numpy as np
import csv

In [3]:
for csvs in os.listdir('./CSVs/'):
    df = pd.read_csv(f'./CSVs/{csvs}', encoding='latin-1')
    print(df['CLASSIFICATION'].value_counts(), df['CLASSIFICATION'].unique())

CLASSIFICATION
*     1465
C     1137
B        7
*B       4
A        1
Name: count, dtype: int64 ['C' nan '*' '*B' 'B' 'A']
CLASSIFICATION
*      2073
C      1795
*B        8
B         6
          2
A         2
C C       1
Name: count, dtype: int64 ['C' nan '*' '*B' ' ' 'A' 'B' 'C C']
CLASSIFICATION
*     1223
C      838
B       12
*B       6
A        1
         1
Name: count, dtype: int64 [nan 'C' '*' 'B' '*B' 'A' ' ']
CLASSIFICATION
*     8405
C     2952
B       25
*B      13
A       10
         4
Name: count, dtype: int64 [nan 'C' '*' '*B' 'B' ' ' 'A']
CLASSIFICATION
*      2124
C      1384
B         8
          4
*B        4
A         2
C C       1
Name: count, dtype: int64 [nan '*' 'C' ' ' '*B' 'B' 'A' 'C C']
CLASSIFICATION
*      2211
C      1608
*B       12
B        10
          2
*A        1
C C       1
A         1
Name: count, dtype: int64 [nan 'C' '*' 'B' '*B' ' ' '*A' 'C C' 'A']
CLASSIFICATION
*     759
C     739
B       3
*B      2
Name: count, dtype: int64 [nan 'C' '*' 'B' '*B']
CLASSIFICATION
*      2398
C      1701
B        11
A        10
*B        7
          3
*A        1
* *       1
Name: count, dtype: int64 ['*' 'C' nan 'B' 'A' '*B' ' ' '*A' '* *']
CLASSIFICATION
*      1626
C      1310
B         8
C C       3
*B        3
Name: count, dtype: int64 [nan 'C' '*' 'B' 'C C' '*B']
CLASSIFICATION
*      9356
C      4474
B        47
*B       20
         12
C C       4
A         4
*A        2
Name: count, dtype: int64 ['*' nan 'C' ' ' 'B' '*B' '*A' 'C C' 'A']
CLASSIFICATION
*      1979
C      1147
B         7
*B        5
C C       1
A         1
          1
Name: count, dtype: int64 ['C' nan '*' '*B' 'B' 'C C' 'A' ' ']
CLASSIFICATION
*     1151
C      826
B        4
*B       2
A        1
Name: count, dtype: int64 [nan '*' 'C' 'B' '*B' 'A']
CLASSIFICATION
*      1214
C       899
*B        4
B         3
C C       1
Name: count, dtype: int64 [nan 'C' '*' 'C C' 'B' '*B']
CLASSIFICATION
*     2694
C     1548
B       10
         6
*B       3
*A       1
Name: count, dtype: int64 ['C' nan '*' ' ' 'B' '*B' '*A']
CLASSIFICATION
*      7112
C      5144
B        17
*B       10
          5
A         4
C C       3
*A        2
Name: count, dtype: int64 ['C' nan '*' 'A' '*B' 'B' ' ' 'C C' '*A']
CLASSIFICATION
*      2204
C      1278
*B        7
A         6
B         5
          4
C C       3
Name: count, dtype: int64 [nan '*' 'C' 'C C' '*B' 'A' 'B' ' ']
CLASSIFICATION
*     2625
C     1548
B       15
A        5
*B       2
         1
Name: count, dtype: int64 [nan 'C' '*' 'B' 'A' '*B' ' ']
CLASSIFICATION
*     2537
C     1355
B       15
*B      10
A        4
*A       1
         1
Name: count, dtype: int64 [nan '*' 'C' 'B' '*B' '*A' ' ' 'A']
CLASSIFICATION
*      3674
C      2549
B        21
*B       13
          5
A         3
C C       1
Name: count, dtype: int64 [nan 'C' '*' 'B' '*B' 'A' ' ' 'C C']
CLASSIFICATION
*      8005
C      3558
B        33
A        10
*B       10
          2
C C       2
*A        1
Name: count, dtype: int64 ['*' nan 'C' 'A' 'B' '*B' '*A' ' ' 'C C']
CLASSIFICATION
*      3823
C      2828
B        23
*B       15
A         5
C C       2
          1
Name: count, dtype: int64 [nan '*' 'C' '*B' 'B' ' ' 'C C' 'A']

Only check `C` or `*`.

## Mappings for age classification

In [4]:
mapper = {
    '*B': '*',
    'C C': 'C',
    'A': 'D',
    'B': 'D',
    ' ': 'D',
    '*A': '*',
    '* *': '*',
    '*': '*',
    'C': 'C',
    'D': 'D'
}
mapper2 = {
    '*B': 'B',
    'C C': 'D',
    'A': 'A',
    'B': 'B',
    ' ': 'D',
    '*A': 'A',
    '* *': 'D',
    '*': 'D',
    'C': 'D',
    'D': 'D'
}

In [7]:
dct = {}
lst = []
for csvs in os.listdir('./CSVs/'):
    df = pd.read_csv(f'./CSVs/{csvs}', encoding='latin-1')
    df = df.fillna('D')
    df['CLASSIFICATION'] = df['CLASSIFICATION'].map(mapper2)
    dct[csvs] = df
    dictionary = df['CLASSIFICATION'].value_counts().to_dict()
    if 'A' not in dictionary:
        dictionary['A'] = 0
    if 'B' not in dictionary:
        dictionary['B'] = 0
    if 'D' not in dictionary:
        dictionary['D'] = 0
        print(dictionary)
    lst.append([csvs[:-4], dictionary['A'], dictionary['B'], dictionary['D']])

{'D': 5825, 'B': 11, 'A': 1}
{'D': 9457, 'B': 14, 'A': 2}
{'D': 5802, 'B': 18, 'A': 1}
{'D': 26417, 'B': 38, 'A': 10}
{'D': 9941, 'B': 12, 'A': 2}
{'D': 8789, 'B': 22, 'A': 2}
{'D': 3185, 'B': 5}
{'D': 10625, 'B': 18, 'A': 11}
{'D': 6810, 'B': 11}
{'D': 33764, 'B': 67, 'A': 6}
{'D': 7785, 'B': 12, 'A': 1}
{'D': 5103, 'B': 6, 'A': 1}
{'D': 4569, 'B': 7}
{'D': 10924, 'B': 13, 'A': 1}
{'D': 29345, 'B': 27, 'A': 6}
{'D': 9500, 'B': 12, 'A': 6}
{'D': 9643, 'B': 17, 'A': 5}
{'D': 10075, 'B': 25, 'A': 5}
{'D': 14384, 'B': 34, 'A': 3}
{'D': 27637, 'B': 43, 'A': 11}
{'D': 14703, 'B': 38, 'A': 5}

In [18]:
lst

[['BRGY ACACIA', 1469, 3231, 1137],
 ['BRGY BARITAN', 2081, 5596, 1796],
 ['BRGY BAYAN BAYANAN', 1229, 3754, 838],
 ['BRGY CATMON', 8418, 15095, 2952],
 ['BRGY CONCEPCION  NAME AND PREC', 2128, 6442, 1385],
 ['BRGY DAMPALIT', 2224, 4980, 1609],
 ['BRGY FLORES', 761, 1690, 739],
 ['BRGY HULONG DUHAT', 2407, 6546, 1701],
 ['BRGY IBABA', 1629, 3879, 1313],
 ['BRGY LONGOS', 9378, 19981, 4478],
 ['BRGY MAYSILO', 1984, 4666, 1148],
 ['BRGY MUZON', 1153, 3131, 826],
 ['BRGY NIUGAN', 1218, 2458, 900],
 ['BRGY PANGHULO', 2698, 6692, 1548],
 ['BRGY POTRERO', 7124, 17107, 5147],
 ['BRGY SAN AGUSTIN', 2211, 6026, 1281],
 ['BRGY SANTOLAN', 2627, 5490, 1548],
 ['BRGY TANONG', 2548, 6202, 1355],
 ['BRGY TINAJEROS', 3687, 8184, 2550],
 ['BRGY TONSUYA', 8016, 16115, 3560],
 ['BRGY TUGATOG', 3838, 8078, 2830]]

In [22]:
filename = './age classification.csv'
# Write the data to a CSV file
with open(filename, 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerows(lst)