In [2]:
import pandas as pd
import os
import numpy as np
import csv

In [3]:
for csvs in os.listdir('./CSVs/'):
    df = pd.read_csv(f'./CSVs/{csvs}', encoding='latin-1')
    print(df['CLASSIFICATION'].value_counts(), df['CLASSIFICATION'].unique())

CLASSIFICATION
*     1465
C     1137
B        7
*B       4
A        1
Name: count, dtype: int64 ['C' nan '*' '*B' 'B' 'A']
CLASSIFICATION
*      2073
C      1795
*B        8
B         6
          2
A         2
C C       1
Name: count, dtype: int64 ['C' nan '*' '*B' ' ' 'A' 'B' 'C C']
CLASSIFICATION
*     1223
C      838
B       12
*B       6
A        1
         1
Name: count, dtype: int64 [nan 'C' '*' 'B' '*B' 'A' ' ']
CLASSIFICATION
*     8405
C     2952
B       25
*B      13
A       10
         4
Name: count, dtype: int64 [nan 'C' '*' '*B' 'B' ' ' 'A']
CLASSIFICATION
*      2124
C      1384
B         8
          4
*B        4
A         2
C C       1
Name: count, dtype: int64 [nan '*' 'C' ' ' '*B' 'B' 'A' 'C C']
CLASSIFICATION
*      2211
C      1608
*B       12
B        10
          2
*A        1
C C       1
A         1
Name: count, dtype: int64 [nan 'C' '*' 'B' '*B' ' ' '*A' 'C C' 'A']
CLASSIFICATION
*     759
C     739
B       3
*B      2
Name: count, dtype: int64 [nan 'C' '*' 'B' '*B']
CLASSIFICATION
*      2398
C      1701
B        11
A        10
*B        7
          3
*A        1
* *       1
Name: count, dtype: int64 ['*' 'C' nan 'B' 'A' '*B' ' ' '*A' '* *']
CLASSIFICATION
*      1626
C      1310
B         8
C C       3
*B        3
Name: count, dtype: int64 [nan 'C' '*' 'B' 'C C' '*B']
CLASSIFICATION
*      9356
C      4474
B        47
*B       20
         12
C C       4
A         4
*A        2
Name: count, dtype: int64 ['*' nan 'C' ' ' 'B' '*B' '*A' 'C C' 'A']
CLASSIFICATION
*      1979
C      1147
B         7
*B        5
C C       1
A         1
          1
Name: count, dtype: int64 ['C' nan '*' '*B' 'B' 'C C' 'A' ' ']
CLASSIFICATION
*     1151
C      826
B        4
*B       2
A        1
Name: count, dtype: int64 [nan '*' 'C' 'B' '*B' 'A']
CLASSIFICATION
*      1214
C       899
*B        4
B         3
C C       1
Name: count, dtype: int64 [nan 'C' '*' 'C C' 'B' '*B']
CLASSIFICATION
*     2694
C     1548
B       10
         6
*B       3
*A       1
Name: count, dtype: int64 ['C' nan '*' ' ' 'B' '*B' '*A']
CLASSIFICATION
*      7112
C      5144
B        17
*B       10
          5
A         4
C C       3
*A        2
Name: count, dtype: int64 ['C' nan '*' 'A' '*B' 'B' ' ' 'C C' '*A']
CLASSIFICATION
*      2204
C      1278
*B        7
A         6
B         5
          4
C C       3
Name: count, dtype: int64 [nan '*' 'C' 'C C' '*B' 'A' 'B' ' ']
CLASSIFICATION
*     2625
C     1548
B       15
A        5
*B       2
         1
Name: count, dtype: int64 [nan 'C' '*' 'B' 'A' '*B' ' ']
CLASSIFICATION
*     2537
C     1355
B       15
*B      10
A        4
*A       1
         1
Name: count, dtype: int64 [nan '*' 'C' 'B' '*B' '*A' ' ' 'A']
CLASSIFICATION
*      3674
C      2549
B        21
*B       13
          5
A         3
C C       1
Name: count, dtype: int64 [nan 'C' '*' 'B' '*B' 'A' ' ' 'C C']
CLASSIFICATION
*      8005
C      3558
B        33
A        10
*B       10
          2
C C       2
*A        1
Name: count, dtype: int64 ['*' nan 'C' 'A' 'B' '*B' '*A' ' ' 'C C']
CLASSIFICATION
*      3823
C      2828
B        23
*B       15
A         5
C C       2
          1
Name: count, dtype: int64 [nan '*' 'C' '*B' 'B' ' ' 'C C' 'A']

Only check `C` or `*`.

## Mappings for age classification

In [4]:
mapper = {
    '*B': '*',
    'C C': 'C',
    'A': 'D',
    'B': 'D',
    ' ': 'D',
    '*A': '*',
    '* *': '*',
    '*': '*',
    'C': 'C',
    'D': 'D'
}
mapper2 = {
    '*B': 'B',
    'C C': 'D',
    'A': 'A',
    'B': 'B',
    ' ': 'D',
    '*A': 'A',
    '* *': 'D',
    '*': 'D',
    'C': 'D',
    'D': 'D'
}
mapper3 = {
    '*B': '18-30 PWD',
    'C C': '60+ Unclassified',
    'A': '31-59 Illiterate',
    'B': '31-59 PWD',
    ' ': '31-59 Unclassified',
    '*A': '18-30 Illiterate',
    '* *': '18-30 Unclassified',
    '*': '18-30 Unclassified',
    'C': '60+ Unclassified',
    'D': '31-59 Unclassified'
}

mapped_values = [
    '18-30 PWD',
    '60+ Unclassified',
    '31-59 Illiterate',
    '31-59 PWD',
    '31-59 Unclassified',
    '18-30 Illiterate',
    '18-30 Unclassified',
]

In [6]:
dct = {}
lst = []
district1 = "BARITAN \
BAYAN-BAYANAN \
CATMON \
CONCEPCION \
DAMPALIT \
FLORES \
HULONG DUHAT \
IBABA \
MAYSILO \
MUZON \
NIUGAN \
PANGHULO \
SAN AGUSTIN \
SANTOLAN \
TANONG \
"

district1 = district1.split()
print(district1)
for csvs in os.listdir('./CSVs/'):
    df = pd.read_csv(f'./CSVs/{csvs}', encoding='latin-1')
    df = df.fillna('D')
    df['CLASSIFICATION'] = df['CLASSIFICATION'].map(mapper)
    dct[csvs] = df
    dictionary = df['CLASSIFICATION'].value_counts().to_dict()
    # print(dictionary)
    qlst = [csvs[:-4]]
    if csvs[5:-4] not in district1:
        qlst.append(2)
    else:
        qlst.append(1)
    for vals in mapped_values:
        if vals not in dictionary:
            qlst.append(0)
        else:
            qlst.append(dictionary[vals])
    print(qlst)
    lst.append(qlst)

['BARITAN', 'BAYAN-BAYANAN', 'CATMON', 'CONCEPCION', 'DAMPALIT', 'FLORES', 'HULONG', 'DUHAT', 'IBABA', 'MAYSILO', 'MUZON', 'NIUGAN', 'PANGHULO', 'SAN', 'AGUSTIN', 'SANTOLAN', 'TANONG']
['BRGY ACACIA', 2, 0, 0, 0, 0, 0, 0, 0]
['BRGY BARITAN', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY BAYAN BAYANAN', 2, 0, 0, 0, 0, 0, 0, 0]
['BRGY CATMON', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY CONCEPCION  NAME AND PREC', 2, 0, 0, 0, 0, 0, 0, 0]
['BRGY DAMPALIT', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY FLORES', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY HULONG DUHAT', 2, 0, 0, 0, 0, 0, 0, 0]
['BRGY IBABA', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY LONGOS', 2, 0, 0, 0, 0, 0, 0, 0]
['BRGY MAYSILO', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY MUZON', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY NIUGAN', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY PANGHULO', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY POTRERO', 2, 0, 0, 0, 0, 0, 0, 0]
['BRGY SAN AGUSTIN', 2, 0, 0, 0, 0, 0, 0, 0]
['BRGY SANTOLAN', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY TANONG', 1, 0, 0, 0, 0, 0, 0, 0]
['BRGY TINAJEROS', 2, 0, 0, 0, 0, 0, 0, 0]
['BRGY TONSUYA', 2, 0, 0, 0, 0, 0, 0, 0]
['BRGY TUGATOG', 2, 0, 0, 0, 0, 0, 0, 0]

In [7]:
lst

[['BRGY ACACIA', 2, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY BARITAN', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY BAYAN BAYANAN', 2, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY CATMON', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY CONCEPCION  NAME AND PREC', 2, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY DAMPALIT', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY FLORES', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY HULONG DUHAT', 2, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY IBABA', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY LONGOS', 2, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY MAYSILO', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY MUZON', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY NIUGAN', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY PANGHULO', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY POTRERO', 2, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY SAN AGUSTIN', 2, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY SANTOLAN', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY TANONG', 1, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY TINAJEROS', 2, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY TONSUYA', 2, 0, 0, 0, 0, 0, 0, 0],
 ['BRGY TUGATOG', 2, 0, 0, 0, 0, 0, 0, 0]]

In [8]:
filename = './test2.csv'
# Write the data to a CSV file
with open(filename, 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerows(lst)